@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.left {
  width: 100%;
  padding: clamp(2rem, 5vw, 4rem) 0;
}

.title_center {
  font-family: $secondary-font;
  color: $secondary-font-color;
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 3rem;
  text-align: left;
  border-top: 1px solid rgba($primary-font-color, 0.05);
  padding-top: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
}
