@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.content_container {
  display: grid;
  // grid-template-columns: repeat(3, auto);
  grid-template-columns: 50% 2% auto;
  color: $primary-font-color;
}

.divider {
  width: 2px;
  background-color: $secondary-font-color;
  opacity: 0.5;
}

@include tablet() {
  .content_container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(6, 1fr);
  }
  .divider {
    display: none;
  }
}
