@use "@/styles/_variables.scss" as *;

%button-base {
  width: 200px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Russo One", sans-serif;
  font-size: 16px;
}

.button {
  @extend %button-base;
  background-color: #FEF63E;
  color: #0A0A18;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: transparent;
    color: $secondary-font-color;
  }
}

.link {
  @extend %button-base;
  background-color: transparent;
  border: none;
  color: #FFFCDD;
}

.secondary {
  @extend %button-base;
  background-color: transparent;
  color: $secondary-font-color;
  border: solid 1px #FEF63E;
  font-family: $primary-font;
  transition: all 0.3s ease;

  &:hover {
    background-color: #FEF63E;
    color: black;
  }

}
