@use "@/styles/_variables.scss" as *;

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: none;
}

.iconStyle {
  width: 32px;
  height: 32px;
  margin-bottom: 1rem;
  fill: $primary-color;
  transition: filter 0.2s ease;
  &:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    // transform: translateY(-1px);
  }
}
