@use "@/styles/_variables.scss" as *;

.container {
  display: flex;
  flex-direction: row;
  gap: clamp(1.5rem, 5vw, 4rem);
  flex-wrap: wrap;
  justify-content: center;
}

.iconStyle {
  width: clamp(40px, 6vw, 60px);
  height: clamp(40px, 6vw, 60px);

  fill: rgba($primary-font-color, 0.6);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;

  &:hover {
    fill: $secondary-font-color;
    transform: scale(1.2) translateY(-10px);
    filter: drop-shadow(0 10px 15px rgba($secondary-font-color, 0.3));
  }
}
