$primary-font: "Inter", sans-serif;
$secondary-font: "Russo One", sans-serif;

$primary-font-color: #fffcdd;
$secondary-font-color: #fef63e;

$secondary-color: #fef63e;
$primary-color: #fffcdd;
$background-color: #0a0a18;
