@use "./variables.scss" as *;
@use "./mixins.scss" as *;


:root {
  font-family: $primary-font;

  color-scheme: light dark;
  color: $primary-font-color;
  background-color: $background-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  // @include flexItemsCenter();
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);

  min-width: 320px;
  min-height: 100vh;

  border: solid 2px red;
}

#root {
  // max-width: 1280px;
  // margin: 0 auto;
  text-align: center;
  grid-column: 2 / 12;
}
