@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.footer_wrapper {
  background-color: $secondary-font-color; // El fondo amarillo ocupa el 100%
  width: 100%;
  color: #000;
  margin-top: auto;
}

.footer_grid {
  // COPIA EXACTA DE TU .CONTAINER
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  // Padding igual al del Main para que la alineación sea perfecta
  padding: 0 clamp(1rem, 3vw, 2rem);
}

.content {
  // ALINEACIÓN CON LOS HIJOS DEL MAIN (COL 2 A 12)
  grid-column: 2 / 12;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(60px, 10vh, 90px);

  @include tablet() {
    grid-column: 1 / 13;
  }

  @include mobile() {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: auto;
    padding: 2rem 0;
  }
}

.left {
  p {
    font-size: clamp(13px, 1.5vw, 15px);
    margin: 0;

    strong {
      font-family: $secondary-font;
      text-transform: uppercase;
    }
  }
}

.right {
  display: flex;
  gap: 1.5rem;

  a {
    color: #000;
    font-size: 1.4rem;
    transition: transform 0.2s ease;
    display: flex;

    &:hover {
      transform: translateY(-3px);
      opacity: 0.7;
    }
  }
}
