@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.right {
  // grid-column: 10 / 17;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, auto);
}

.title_center {
  text-align: start;
  margin-bottom: 40px;
  color: $primary-font-color;
  font-family: $secondary-font;
  grid-row: 1 / 2;
  grid-column: 1 / 9;
}

.timeline {
  // position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 9;
  margin-top: 40px;
  border-left: 2px solid $primary-font-color;
  margin-left: 60px;
}

@include web-l() {
  .jobCard_content {
    border: solid 2px red;
  }
}

@include web() {
  .jobCard_content {
    border: solid 2px blue;
  }
}

@include tablet() {
  .jobCard_content {
    border: solid 2px green;
  }
  .right {
    grid-column: 1 / 8;
  }
}

@include tablet-small() {
  .jobCard_content {
    border: solid 2px orange;
  }
}

@include mobile() {
  .jobCard_content {
    border: solid 2px purple;
  }
}
