@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.timeline {
  &_item {
    display: grid;
    grid-template-columns: auto 10%;
    position: relative;
    margin-bottom: 30px;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      left: -7px;
      top: 0px;
      width: 12px;
      height: 12px;
      background-color: $primary-font-color;
      border-radius: 50%;
    }
  }

  &_year {
    position: absolute;
    left: -60px;
    font-weight: bold;
    font-size: 1rem;
  }

  &_content {
    text-align: left;

    .formation_title {
      color: $secondary-font-color;
      font-family: $secondary-font;
      // font-size: 1.5rem;
      margin-bottom: 4px;
    }
    .formation_institution {
      // font-size: 1rem;
      text-transform: uppercase;
      opacity: 0.8;
      font-family: $secondary-font;
    }
  }
}

.webBtn {
  width: 40px;
  height: 40px;
  a {
    display: grid;
    place-items: center;
  }
}

.webBtnIcon {
  width: 18px;
  height: 18px;
  color: black;
}
