@use "@/styles/_mixins.scss" as *;
@use "@/styles/_variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  background-color: rgba($primary-font-color, 0.03);

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  transition: all 0.3s ease;
  height: 100%;
  border-bottom: 1px solid rgba($primary-font-color, 0.1);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 0;
    background-color: $secondary-font-color;
    transition: height 0.3s ease;
  }

  &:hover {
    background-color: rgba($secondary-font-color, 0.02);
    // transform: translateY(5px);

    &::before {
      height: 100%;
    }

    .card_title {
      color: $secondary-font-color;
    }
  }

  @include mobile() {
    padding: 1.5rem;
  }
}

.card_title {
  font-family: $secondary-font;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0.25rem;
  transition: color 0.3s ease;
  color: $primary-font-color;
}

.underline {
  width: 40px;
  height: 2px;
  background-color: $secondary-font-color;
  margin-bottom: 1.5rem;
}

.card_text {
  flex-grow: 1;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
  color: rgba($primary-font-color, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid rgba($primary-font-color, 0.05);
}

.webBtn {
  width: auto;
  min-width: 50px;
  display: flex;
  justify-content: center;
}

.webBtnIcon {
  font-size: 1.2rem;
  color: $primary-font-color;
}

.modal_buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
