@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.container {
  width: 100%;
  padding: clamp(2rem, 5vw, 4rem) 0;
}

.title_center {
  font-family: $secondary-font;
  color: $secondary-font-color;
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 3rem;
  text-align: left;
  border-top: 1px solid rgba($primary-font-color, 0.05);
  padding-top: 2rem;
}

.icons_wrapper {
  // background-color: rgba($primary-font-color, 0.02);
  padding: clamp(2rem, 5vw, 4rem);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid rgba($primary-font-color, 0.05);
  transition: border-color 0.3s ease;

  // &:hover {
  //   border-color: rgba($secondary-font-color, 0.3);
  // }
}
