@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.header_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.header {
  grid-column: 2 / 12;
  height: clamp(50px, 10vh, 70px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(16px, 5vw, 32px);
  margin: clamp(12px, 3vw, 24px) 0;

  @include tablet() {
    grid-column: 1 / 13;
    padding: 0 1rem;
  }

  @include mobile() {
    gap: clamp(8px, 3vw, 16px);
    height: 50px;
  }
}

.uppercase_text {
  text-transform: uppercase;

  &:hover {
    border: solid 1px $primary-font-color;
  }
}

.languageBtn {
  width: 44px;

  &:hover {
    border: solid 1px $primary-font-color;
  }
}

.divider {
  border: solid 2px $primary-font-color;
  box-shadow: 0 0 24px 4px rgba(255, 255, 255, 0.7);
  height: 44px;
  border-radius: 4px;
  background-color: $primary-font-color;
}
