@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as *;

.jobCard_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-items: center;
}

.jobCard {
  padding-bottom: 2rem;

  .company {
    color: $secondary-font-color;
    font-family: $secondary-font;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .position {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: $secondary-font;
  }

  .date {
    display: block;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 14px;
  }
}

.divider {
  border: solid 2px $primary-font-color;
  box-shadow: 0 0 24px 4px rgba(255, 255, 255);
  height: 24px;
  border-radius: 4px;
  background-color: $primary-font-color;
  margin: 0 16px;
}

@include web-l() {
}
@include web() {
}
@include tablet() {
}
@include tablet-small() {
}
@include mobile() {
}
